= form_for(@repository) do |f|
  - if @repository.errors.any?
    #error_explanation
      %h2
        = pluralize(@repository.errors.count, "error")
        prohibited this repository from being saved:
      %ul
        - @repository.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit
