---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1393725424'
      Last-Modified:
      - Sat, 01 Mar 2014 23:37:13 GMT
      Etag:
      - '"b233be39da86eee10a8ab9f1fcd4e1b8"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"login":"ibawt","id":1743173,"avatar_url":"https://avatars.githubusercontent.com/u/1743173","gravatar_id":"a231c8900f21f95192090442d4f94323","url":"https://api.github.com/users/ibawt","html_url":"https://github.com/ibawt","followers_url":"https://api.github.com/users/ibawt/followers","following_url":"https://api.github.com/users/ibawt/following{/other_user}","gists_url":"https://api.github.com/users/ibawt/gists{/gist_id}","starred_url":"https://api.github.com/users/ibawt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ibawt/subscriptions","organizations_url":"https://api.github.com/users/ibawt/orgs","repos_url":"https://api.github.com/users/ibawt/repos","events_url":"https://api.github.com/users/ibawt/events{/privacy}","received_events_url":"https://api.github.com/users/ibawt/received_events","type":"User","site_admin":false,"name":"Ian
        Quick","company":"Shopify","blog":null,"location":"Ottawa","email":"ian.quick@gmail.com","hireable":false,"bio":"http://www.linkedin.com/profile/view?id=33765685&trk=tab_pro","public_repos":17,"public_gists":3,"followers":5,"following":0,"created_at":"2012-05-15T18:17:19Z","updated_at":"2014-03-01T23:37:13Z","private_gists":1,"total_private_repos":0,"owned_private_repos":0,"disk_usage":16884,"collaborators":0,"plan":{"name":"free","space":307200,"collaborators":0,"private_repos":0}}'
  recorded_at: Sun, 02 Mar 2014 00:57:06 GMT
recorded_with: VCR 2.8.0
