---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1394220918'
      Last-Modified:
      - Fri, 07 Mar 2014 16:28:19 GMT
      Etag:
      - '"112f984382dde9175b49b065cd5d2d83"'
      X-Oauth-Scopes:
      - gist, notifications, read:org, read:public_key, read:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"login":"qq99","id":150352,"avatar_url":"https://gravatar.com/avatar/3affb0985e62ebe82631b8bbd7e9e4b4?d=https%3A%2F%2Fidenticons.github.com%2Fc0a5ce753ef70f6ef7ee370b35dab1dd.png&r=x","gravatar_id":"3affb0985e62ebe82631b8bbd7e9e4b4","url":"https://api.github.com/users/qq99","html_url":"https://github.com/qq99","followers_url":"https://api.github.com/users/qq99/followers","following_url":"https://api.github.com/users/qq99/following{/other_user}","gists_url":"https://api.github.com/users/qq99/gists{/gist_id}","starred_url":"https://api.github.com/users/qq99/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/qq99/subscriptions","organizations_url":"https://api.github.com/users/qq99/orgs","repos_url":"https://api.github.com/users/qq99/repos","events_url":"https://api.github.com/users/qq99/events{/privacy}","received_events_url":"https://api.github.com/users/qq99/received_events","type":"User","site_admin":false,"name":"Anthony
        Cameron","company":null,"blog":"http://anthonycameron.com","location":"Ontario,
        Canada","email":"ar.cameron@gmail.com","hireable":false,"bio":null,"public_repos":13,"public_gists":2,"followers":15,"following":21,"created_at":"2009-11-08T08:40:49Z","updated_at":"2014-03-07T16:28:19Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":17385,"collaborators":0,"plan":{"name":"free","space":307200,"collaborators":0,"private_repos":0}}'
  recorded_at: Fri, 07 Mar 2014 18:56:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/ibawt/eightfoot/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1394220918'
      Etag:
      - '"8b1d9a4d66d102eb8959e62778dcb632"'
      X-Oauth-Scopes:
      - gist, notifications, read:org, read:public_key, read:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/ibawt/eightfoot/labels/bug","name":"bug","color":"fc2929"},{"url":"https://api.github.com/repos/ibawt/eightfoot/labels/duplicate","name":"duplicate","color":"cccccc"},{"url":"https://api.github.com/repos/ibawt/eightfoot/labels/enhancement","name":"enhancement","color":"84b6eb"},{"url":"https://api.github.com/repos/ibawt/eightfoot/labels/invalid","name":"invalid","color":"e6e6e6"},{"url":"https://api.github.com/repos/ibawt/eightfoot/labels/question","name":"question","color":"cc317c"},{"url":"https://api.github.com/repos/ibawt/eightfoot/labels/wontfix","name":"wontfix","color":"ffffff"},{"url":"https://api.github.com/repos/ibawt/eightfoot/labels/design","name":"design","color":"fef2c0"},{"url":"https://api.github.com/repos/ibawt/eightfoot/labels/security","name":"security","color":"e11d21"}]'
  recorded_at: Fri, 07 Mar 2014 18:56:13 GMT
recorded_with: VCR 2.8.0
