<h1>Listing issues</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2"/>
    <div class="span10">
      <div id="sortable-list" data-update-url="some-url">
        <ul id="sortable">
        <% @issues.each do |issue| %>
          <li id="issue_<%= issue.id %>">
            <div>
              <%= issue.title %> -- <%= issue.number %>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Issue', new_issue_path %>
