%li.user-tile{data: {meta: [user.nickname]}}
  .user-avatar
    %img{src: user.image}
    - if current_user.nickname != user.nickname
      .user-add-remove-controls
        - if add_button
          %i.fa.fa-plus-square.user-add-button.button{data: {username: user.nickname}}
        - if remove_button
          %i.fa.fa-minus-square.user-remove-button.button{data: {username: user.nickname}}
  %span.user-login
    %a{href: "https://github.com/#{user.nickname}", target: "_blank"}= user.nickname
