<% @page_title = "Labels in #{@project.name}" %>

<div class="alert alert-info">
  <i class="fa fa-info-circle fa-2x"></i>
  <span>
    <strong>Labels</strong> correspond to the labels you've added in GitHub.  You can filter your view into <strong>Issue Manager</strong> by selecting the labels you're interested in below.
  </span>
</div>

<p> Select some labels to filter by</p>
<ul>
  <%= simple_form_for @project do |f| %>
    <%= f.association :labels, :label_method => :name, :as => :check_boxes, :multiple => true %>
    <%= f.button :submit, "Submit" %>
  <% end %>
</ul>
