- @page_title = 'Team Projects'
- @page_type = "normal-page"

= link_to 'New Project', new_project_path
%h1 Projects
- if @projects.any?
  %ul.list-group
    - @projects.each do |project|
      %li.list-group-item
        %a{href: project_path(project)}= project.name
        =link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
- else
  %p
    No projects yet.
    %a{href: new_project_path} Add one.
