/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets
 */

@import "bootstrap";
@import "tablelist";


// Cool
$dark-background: #262626;
$nav-link-color: #428bca;
$nav-link-hover-color: #efefef;

$header-height: 35px;

*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "HelveticaNeue";
}

ul {
    list-style-type: disc;
}
ul, ol {
    margin: 0 0 10px 2em;
    padding: 0;
}
blockquote {
    font-size: 1em;
    border-left: 5px solid rgba(255,255,255,0.5);
}

.eightfoot-bg {
    background: url("Octopus.svg");
    background-position: center;
    background-size: cover;
}
.eightfoot-icon {
    background: url("octopus-inverse.svg");
    background-size: cover;
    width:40px;
    height:35px;
    display: inline-block;
}
.eightfoot-panel {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
}

.btn-github:hover {
    color: white;
}

#main-panel {
    padding-top: $header-height;
}

.eightfoot-title {
    font-size: 200px;
    margin-top: -20px;
}

.eightfoot-navbar {
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: $dark-background;
    width: 100%;
    min-height: 20px;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    border: none;

    color: $nav-link-color;
    a.btn:hover, a.btn:visited:hover {
        color: $nav-link-hover-color;
        background-color: #000;
        border-radius: 0;
    }
}
.eightfoot-avatar {
    cursor: pointer;
    height: $header-height;
    width: $header-height;
    position: relative;
}
.eightfoot-body {
    padding: 2em;
    top: 0;
}

.eightfoot-description {
    font-size: 20px;
    padding-top: 25px;
    padding-left: 40px;
    }
.github-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 400px;
}

.gridster .gridster-data {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.ef-pagetitle {
  margin:0;
  padding: 10px 30px;
  background-color:#222;
  font-size: 20px;
  color: #FFF;
  text-transform:uppercase;
}
