/*
 *= require_tree .
 *= require font-awesome
 *= require jquery.ui.autocomplete
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets
 */

@import "bootstrap";
@import "tablelist";


// Cool
$dark-background: #262626;
$nav-link-color: #428bca;
$nav-link-hover-color: #efefef;

$header-height: 35px;

*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.no-match {
    opacity: 0.35;
}

@mixin clearfix {
    &:before, &:after {
         content: " ";
         display: table;
    }
    &:after {
         clear: both;
    }
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
}

ul {
    list-style-type: disc;
}
ul, ol {
    margin: 0 0 10px 2em;
    padding: 0;
}
blockquote {
    font-size: 1em;
    border-left: 5px solid rgba(255,255,255,0.5);
}

.alert > * {
    vertical-align: middle;
}

.button {
    cursor: pointer;
}

.eightfoot-bg {
    background: url("Octopus.svg");
    background-position: center;
    background-size: cover;
}
.sessions-new.eightfoot-bg {
    background: url("octopus-dark.svg");
    background-position: center;
    background-size: cover;
}
.eightfoot-icon {
    background: url("octopus-inverse.svg");
    background-size: cover;
    width:40px;
    height:35px;
    display: inline-block;
}
.eightfoot-panel {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
}

.btn-github:hover {
    color: white;
}

#main-panel {
    padding-top: $header-height;
}

.eightfoot-title {
    font-size:15em;
    margin-top: -20px;
}

.eightfoot-title, .eightfoot-description {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}

.eightfoot-navbar {
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: $dark-background;
    width: 100%;
    min-height: 20px;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    border: none;

    color: $nav-link-color;
    a.btn:hover, a.btn:visited:hover {
        color: $nav-link-hover-color;
        background-color: #000;
        border-radius: 0;
    }
}
.eightfoot-avatar {
    cursor: pointer;
    height: $header-height;
    width: $header-height;
    position: relative;
}
.eightfoot-body {
    padding: 2em;
    top: 0;
    &.normal-page {
        max-width: 60em;
        margin: auto;
    }
}

.eightfoot-description {
    font-size: 3em;
    padding-top: 25px;
    padding-left: 40px;
}
.github-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 400px;
}

.gridster .gridster-data {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.ef-pagetitle {
  margin:0;
  padding: 10px 30px;
  background-color:#222;
  font-size: 32px;
  color: #FFF;
  text-transform:uppercase;
   font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 100;
   letter-spacing:2px;
}

.github-button {
  a.btn {
    font-size: 1.5em;
  }
  .fa.fa-github {
    line-height: 1.25em;
    width: 1.5em;
  }
}

.organization-header {
    @include clearfix;
    h1, h2, h3, h4, h5 {
        font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
}
.organization-avatar {
    float: left;
    margin-right: 1em;
}
.user-add-remove-controls {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size:3em;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    &:hover {
        opacity: 1;
    }
    .button {
        display: block;
    }
}
.user-add-button {
    margin-top:0.25em;
    color: green;
}
.user-remove-button {
    color: red;
}
.user-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.user-tile {
    transition: opacity 0.25s ease-in-out;
    height: 120px;
    width: 100px;
    margin: 1em;
    background: #efefef;
    box-shadow: 1px 1px 0px #bbb;
}
.user-login {
    display: block;
    text-align: center;
    font-size: 0.9em;
    margin-top: 0.1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-avatar {
    position: relative;
    width: 100px;
    height: 100px;
    img {
        width: 100%;
        height: 100%;
    }
}
