ul {
    list-style-type:none;
}
.portlet {
    margin: 0 1em 0.3em 0;
    background-color: lightblue;
    border: 3px solid black;
}
.portlet-content {
}
.portlet-header {
    word-wrap: break-word;
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
    background-color: azure;
}
