.portlet {
    cursor: move;
    margin: 0 1em 0.3em 0;
    background-color: #e4eff7;
    font-size: 12px;
    border:0;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width:5px;
    }
    &::-webkit-scrollbar-thumb {
        background:rgba(0,0,0,0.5);

        border-radius:5px;
    }
    .gs-resize-handle-both {
        bottom: 0;
        right: 0;
        background-position: center center;
    }
    transition: opacity 0.25s ease-in-out;
   &.issue-repo-0 {
      background-color: #e4eff7;
    }
   &.issue-repo-1 {
      background-color: #D4EAFF;
    }
   &.issue-repo-2 {
      background-color: #E8F3E5;
    }
   &.issue-repo-3 {
      background-color: #EFE7FB;
    }
   &.issue-repo-4 {
      background-color: #F3ECE9;
    }
}
.portlet-content {
    padding: 0.5em;
}
.portlet-header {
    word-wrap: break-word;
    padding: 0.5em;
    position: relative;
    &:before, &:after {
        content: " ";
        display: table;
        clear: both;
    }
    a {
        cursor: pointer;
    }
}

.milestone-selector {
  margin-bottom: 1em;
}

.comments-link {
  float: right;
  margin-left: 3px;
}

.issue-label-container {
  cursor: pointer;
  display: flex;
  &.expanded {
    .issue-label {
      height: auto;
      text-indent: 0;
      color: white;
      font-size: 0.8em;
      text-shadow: 0px 0px 1px black, 1px 1px 0px black;
      padding-left: 1em;
    }
  }
}
.issue-label {
  flex: 1 auto;
  overflow:hidden;
  height: 3px;
  border-right: 2px solid white;
  text-indent: -999em;
  &:last-child {
      border: 0;
  }
}

.label-badge {
  position: relative;
  margin-right: 3px;
  .remove-label-button {
    cursor: pointer;
    position: relative;
    left: 2px;
  }
}

.repo-label {
  border-radius:2px;
  flex: 1 auto;
  overflow: hidden;
  height: 3px;
  margin: 1px ;
  text-indent: -999em;
  height: auto;
  text-indent: 0;
  color: white;
  font-size: 0.8em;
  text-shadow: 1px 1px 0px black;
  padding:1px;
}


.label-legend-button {
    font-size:0.8em;
}


.pr-link, .issue-link {
  float:right;
  margin-left: 3px;
}

.issue-assignee {
  float:left;
  vertical-align: middle;
  margin: 0 3px 3px 0;
  border: 1px solid #999;
}

.column-headers {
    margin-left: 5px;
}

.column-heading {
    display: inline-block;
    width: 250px;
    margin-right: 6px;

    input {
        border: 0px;
        background: transparent;
        display: block;
        width: 100%;
        height: 100%;
    }
}
